html {
    scroll-behavior: smooth;
}

@font-face{

    font-family: 'The Historia demo';
    src: url(TheHistoriaDemo.otf);
    font-style: normal;
}

body {
    margin: 0;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #fff;
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: .8rem;
    background: #562974;
  }


canvas {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.area {
    position: relative;
    z-index: 3;
    margin-top: -225px;
    justify-content: center;
    text-align: center;
    padding-top: 40vh;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
.area div {
    margin: 0 auto;
    width: 60%;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
}
.area h1 {
    font-family: 'The Historia demo', sans-serif;
    font-size: 160px;
    color: #562974;
}
.area h2 {
    margin-top: -180px;
    font-size: 60px;
    font-weight: 400;
    color: #562974;
}
.area p {
    margin-top: -50px;
    font-size: 30px;
    font-weight: 400;
    color: #562974;
}
.area h4 {
    margin-top: -20px;
    margin-bottom: 10px;
    font-size: 40px;
}
.area h4 i {
    color: #562974;
}
.area h4 i:hover {
    color: #8a54ad;
}
#snake {
    width: 100%;
    height: 100vh;
}
.snake-game {
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvas-two canvas{
    display: block;
    flex: 1;
    margin-left: 8vw;
    margin-top: 120vh;
    border: 2px solid #8a54ad;
    border-radius: 20px;
}
.game-info {
    flex: 1;
    font-family: 'Raleway', sans-serif;
    margin-top: 10vh;
    margin-left: 50vw;
    margin-right: 10vw;
}
.game-info h1{
    font-size: 50px;
    font-weight: 900;
    color: #562974;
    user-select: none;
}
.game-info h6{
    font-size: 30px;
    color: #8a54ad;
    text-transform: uppercase;
    font-weight: 300;
    user-select: none;
    margin-bottom: 2px;
}
.game-info p {
    color: #562974;
    font-size: 30px;
}
.game-info h4 {
    margin-top: 3px;
    font-size: 40px;
}
.game-info h4 i { 
    color: #562974;
}
.game-info h4 i:hover {
    color: #8a54ad;
}
#run {
    width: 100%;
    height: 40vh;
}
#canvasThree {
    margin-top: 220vh;
}

.small {
    background-color: #fff;
    width: 100%;
    height: 105vh;
    top: 0;
    left: 0;
    justify-content: center;
    display: none;
    position: absolute;
    font-family: 'Raleway', sans-serif;

}
.small div {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    cursor: pointer;
    border-radius: 20px;
}
.small h1 {
    font-family: 'The Historia demo', sans-serif;
    font-size: 160px;
    color: #562974;
}
.small h2 {
    margin-top: -180px;
    font-size: 60px;
    font-weight: 400;
    color: #562974;
}
.small p {
    margin-top: -50px;
    font-size: 30px;
    font-weight: 400;
    color: #562974;
}
.small button {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.7rem;
    text-transform: uppercase;
    background-color: #fff;
    border:none;
    color: #562974;
    cursor: pointer;
}
.small button:hover {
    color: #8a54ad;
}

@media screen and (max-width: 1500px) {
    .canvas-two canvas {
        margin-left: 4vw;
        margin-bottom: 7vh;
    }
    .game-info {
        margin-left: 55vw;
        margin-right: 9vw;
    }
    
}

@media screen and (max-width: 1200px) {
    
    .canvas-two canvas {
        margin-left: 4vw;
    }
    .game-info {
        margin-left: 58vw;
        margin-right: 3vw;
    }
}

@media screen and (max-width: 1175px) {
    
    canvas {
        display: none;
    }
    .area {
        display: none;
    }
    #snake {
        display: none;
    }
    #run {
        display: none;
    }
    .small {
        display: block;
    }
}
@media screen and (max-width: 380px) {
    .small div{
        margin-top: -120px;
    }
    .small div h1 {
        margin-left: -20px;
    }
    .small button {
        margin-top: 2px;
    }
}